@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$fontWeight: 100;
$baseColor: rgb(255, 255, 255);
$baseColor2: rgb(255, 255, 255, 0.8);
$baseColor3: rgb(255, 255, 255, 0.5);
$darkColor: rgb(0, 0, 0);

@mixin briem-font {
  font-family: 'Briem Hand', cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin sedan-font {
  font-family: 'Sedan SC', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin noto-font {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

