@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$fontWeight: 100;
$baseColor: rgb(255, 255, 255);
$baseColor2: rgb(255, 255, 255, 0.8);
$baseColor3: rgb(255, 255, 255, 0.5);
$darkColor: rgb(0, 0, 0);
$accentColor: rgb(20, 20, 20);

@mixin briem-font {
  font-family: 'Briem Hand', cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin sedan-font {
  font-family: 'Sedan SC', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin noto-font {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.FAQ-container {
  margin-top: 10rem;
  margin-right: 5%;
  margin-left: 5%;

  .heading-FAQ {
    @include sedan-font;
    color: #AFEEEE;
    font-weight: $fontWeight + 400;
    font-size: 5rem;
  }

  .accordion {
    display: flex;

    .left {
      width: 40vw;
      padding: 1rem;

      .heading-left {
        @include sedan-font;
        color: #E6E6FA;
        font-weight: $fontWeight + 300;
        font-size: 1.5rem;
      }
    }

    .right {
      width: 40vw;
      padding: 1rem;

      .MuiAccordion-root {
        background-color: $accentColor;
        color: $baseColor;

        .MuiAccordionSummary-root {
          color: #B0C4DE;
          font-size: 1.1rem;
          font-weight: 600;

          .MuiAccordionSummary-expandIconWrapper {
            color: $baseColor;
          }
        }

        .MuiAccordionDetails-root {
            color: $baseColor3;
        }
      }
    }
  }
}