@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

$fontWeight: 100;
$baseColor: rgb(255, 255, 255);
$baseColor2: rgb(255, 255, 255, .8);
$baseColor3: rgb(255, 255, 255, .5);

@mixin briem-font {
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin sedan-font {
  font-family: "Sedan SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin keyframes($name, $from, $to) {
  @keyframes #{$name} {
    0% { @each $prop, $value in $from { #{$prop}: #{$value}; } }
    100% { @each $prop, $value in $to { #{$prop}: #{$value}; } }
  }
}

.hero-section {
  margin-top: 3rem;

  .pics-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    img {
      border-radius: 10px;
      width: 12vw;
      height: 60vh;
      object-fit: cover;
    }

    @for $i from 6 through 1 {
      .img#{$i} {
        position: relative;
        left: -100rem + ($i * 2);
        animation: img#{$i} 1s forwards 6s - ($i - 1) 1;
      }
    }
  }

  .name {
    display: flex;
    position: relative;
    top: -2rem;

    .first, .last {
      @include briem-font;
      color: $baseColor;
      font-weight: $fontWeight + 300;
      font-size: 10rem;
      letter-spacing: 10px;
      position: relative;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }

    .first {
      left: -40rem;
      animation-name: first;
      animation-delay: 4s;
    }

    .last {
      left: 80rem;
      animation-name: last;
      animation-delay: 4s;
    }
  }
}

@include keyframes(first, (left: -40rem), (left: 15rem));
@include keyframes(last, (left: 80rem), (left: 20rem));
@for $i from 6 through 1 {
  @include keyframes(img#{$i}, (left: -100rem + ($i * 2)), (left: 0rem));
}
