@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$fontWeight: 100;
$baseColor: rgb(255, 255, 255);
$baseColor2: rgb(255, 255, 255, 0.8);
$baseColor3: rgb(255, 255, 255, 0.5);
$darkColor: rgb(0, 0, 0);

@mixin briem-font {
  font-family: 'Briem Hand', cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin sedan-font {
  font-family: 'Sedan SC', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin noto-font {
  font-family: 'Noto Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.skills-container {
    margin-top: 10rem;
    
    .heading {
        @include sedan-font;
        color: $baseColor;
        font-weight: $fontWeight + 300;
        font-size: 4rem;
        margin-left: 5rem;
        margin-right: 10rem;
    }

    .frontend {
      @include noto-font;
      color: $baseColor;
      font-weight: $fontWeight + 300;
      margin-left: 5rem;
      margin-right: 10rem;
      margin-top: 4rem;

      .head-f {
        font-size: 3rem;
        color: $baseColor2;
      }

      .sub-f {
        display: flex;
        align-items: center;
        gap: 10rem;
        margin-top: 1.2rem;
        font-size: 2.2rem;
        color: $baseColor3;

        img {
          margin-left: 1rem;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .backend {
      @include noto-font;
      color: $baseColor;
      font-weight: $fontWeight + 300;
      margin-left: 5rem;
      margin-right: 10rem;
      margin-top: 4rem;

      .head-b {
        font-size: 3rem;
        color: $baseColor2;
      }

      .sub-b {
        display: flex;
        align-items: center;
        gap: 9rem;
        margin-top: 1.2rem;
        font-size: 2.2rem;
        white-space: nowrap;
        color: $baseColor3;

        img {
          margin-left: 1rem;
          width: 3rem;
          height: 3rem;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }

    .database {
      @include noto-font;
      color: $baseColor;
      font-weight: $fontWeight + 300;
      margin-left: 5rem;
      margin-right: 10rem;
      margin-top: 4rem;

      .head-db {
        font-size: 3rem;
        color: $baseColor2;
      }

      .sub-db {
        display: flex;
        align-items: center;
        gap: 10rem;
        margin-top: 1.2rem;
        font-size: 2.2rem;
        color: $baseColor3;
      }

      img {
        margin-left: 1rem;
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .other-skills {
      @include noto-font;
      color: $baseColor;
      font-weight: $fontWeight + 500;
      margin-left: 5rem;
      margin-right: 10rem;
      margin-top: 4rem;
    }
}